ajaxuploader==0.3.8
amqp==2.4.0
anyjson==0.3.3
billiard==3.5.0.5
Django==2.1.5
django-crontab==0.7.1
et-xmlfile==1.0.1
gevent==1.4.0
greenlet==0.4.15
openpyxl==2.5.12
psycopg2==2.7.7
psycopg2-binary==2.7.7
pyproj==1.9.6
python-dateutil==2.7.5
python-mimeparse==1.6.0
pytz==2018.9
djangorestframework==3.5.3
django-leaflet
requests
sphinx